{% extends "base.html" %}

{% block content %}
<h1>Edit your entry</h1>
<form action="" method="POST" name="edit">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>title</td>
            <td>
                {{ form.title(size = 24) }}
                {% for error in form.errors.title %}
                <br><span style="color:red;">{{ error }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>content</td>
            <td>{{ form.entry(cols = 32, rows = 10,size = 30) }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Publish"></td>
        </tr>
    </table>
</form>
{% endblock %}
