{% extends "base.html" %}

{% block content %}
<h1>Edit your entry</h1>
<form action="" method="{{ method | d("POST") }}" name="edit">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>title</td>
            <td>
                {{ form.title(size = 70, placeholder = "Title") }}
                {% for error in form.errors.title %}
                <br><span style="color:red;">{{ error }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>content</td>
            <td>{{ form.content(cols = 50, rows = 20) }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Publish"></td>
        </tr>
    </table>
</form>
{% endblock %}
